<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/header') %>

<body>
  <div style="min-height: 100vh;" class="d-flex justify-content-center align-items-center">
    <div>
      <div class="d-flex justify-content-center">
        <%- include ('./partials/logo') %>
      </div>


      <form action="/api/users/auth" method="post" id="loginForm" class="login_form">
        <div class="fs-4 fw-semibold text-center">Login</div>
        <div class="text-center">Wecome Back, login to continue</div>
        <div class="border my-3"></div>
        <% if (error) { %>
        <div class="alert alert-danger mb-3" role="alert">
          <%= error %>
        </div>
        <% } %>
        <div class="mb-4">
          <label for="email" class="d-block fw-semibold">Email</label>
          <input type="email" name="email" id="email" class="form_input" required>
        </div>
        <div class="mb-5">
          <label for="password" class="d-block fw-semibold">Password</label>
          <input type="password" name="password" id="password" class="form_input" required>
          <div class="text-end my-3"><a href="#" class="primary_color fw-semibold">Forgot Password</a></div>
        </div>
        <div>
          <button class="primary_btn" type="submit">Login</button>
        </div>
        <div class="text-center my-3">Don't have an account? <a href="/register" class="primary_color fw-semibold">Sign Up</a></div>
      </form>
    </div>
  </div>
</body>

</html>