  <form action="/search" method="get">
    <div class="input-group">
      <input type="text" name="search" class="form-control" placeholder="Find a recipe or ingredient">
      <button type="submit" class="input-group-text" id="basic-addon1" style="background: #6D37AA;"><i class="fa fa-search text-white" aria-hidden="true"></i></button>
    </div>
  </form>